<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Java and SQL Assessment</h1>
    <p class="col-md-8 fs-4">This Quiz will consists of total 15 MCQ on JAVA & SQL</p>
    <h4>Rules:</h4>
    <ol>
        <li>Each question carries 3 marks</li>
        <li>There is no negative marks for wrong answers</li>
        <li>Duration of Assessment - 30 Minutes </li>
        <li>Assessment submitted automatically if the given time is elapsed</li>
    </ol>
    <h1 style="font-family: cursive; text-align: center;">All the best!!!</h1>
    <div class="name col-md-4 my-3">
        <label for="">Enter your name: </label>
        <input #name type="text" class="form-control">
    </div>
    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Start the Quiz..</button>
</div>